@value colors: "../../styles/colors.module.css";
@value blue, red, green, orange, pink, purple, yellow from colors;

.game-button {
  display: inline-block;
  color: black;
  border-radius: 25%;
  font-size: 50px;
  margin: 10px;
  border: none;
  width: 80px;
  height: 80px;
  animation: buttonRotate 1s linear infinite;
  animation-play-state: paused;     
}

.game-button:focus, .game-button:hover {
  animation-play-state: running; 
}

@keyframes buttonRotate {
  0% { transform: rotate(0deg) scale(1); }
  50% { transform: rotate(180deg) scale(0.8); }
  100% { transform: rotate(360deg) scale(1); }
}
.game-button:hover {
  border: 6px dotted white;
}
.game-button:active {
  opacity: 0.8;
  transform: scale(0.9);
}

.greenGameButton {
  composes: game-button;
  background-color: green;
}

.redGameButton {
  composes: game-button;
  background-color: red;
}

.blueGameButton {
  composes: game-button;
  background-color: blue;
}

.yellowGameButton {
  composes: game-button;
  background-color: yellow;
}

.purpleGameButton {
  composes: game-button;
  background-color: purple;
}

.orangeGameButton {
  composes: game-button;
  background-color: orange;
}

.pinkGameButton {
  composes: game-button;
  background-color: pink;
}