@value colors: "../../styles/colors.module.css";
@value blue, red, green, orange, pink, purple, yellow from colors;

.game-button {
  display: inline-block;
  color: black;
  border-radius: 25%;
  font-size: 50px;
  margin: 10px;
  border: none;
  width: 80px;
  height: 80px;
}
.game-button:hover {
  border: 6px dotted white;
}
.game-button:active {
  opacity: 0.8;
  transform: scale(0.9);
}

.greenGameButton {
  composes: game-button;
  background-color: green;
}

.redGameButton {
  composes: game-button;
  background-color: red;
}

.blueGameButton {
  composes: game-button;
  background-color: blue;
}

.yellowGameButton {
  composes: game-button;
  background-color: yellow;
}

.purpleGameButton {
  composes: game-button;
  background-color: purple;
}

.orangeGameButton {
  composes: game-button;
  background-color: orange;
}

.pinkGameButton {
  composes: game-button;
  background-color: pink;
}